// =============================================================================
// THOUGHT POST STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.post-template.tag-portfolio:not(.page-template) {
  .main-info-p {
    margin-left: 0;
    min-height: 260px;
    padding: $distance * 2 0;
    position: relative;
    width: 100%;

    @include mq(mobile) {
      height: auto;
      max-height: none;
      min-height: 0;
      padding: $distance * 1.5;
      padding-bottom: $distance * 3;
      width: 100%;
    }

    &::before {
      background-image: url('../img/dots-texture.png');
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;

      @include mq(mobile) {
        bottom: 0;
        height: 66.66%;
        left: 0;
        right: auto;
        top: auto;
        width: 100%;
      }
    }

    .post-date {
      background-color: $black;
      color: $white;
      font-size: $fsmall;
      line-height: $line-height;
      padding: 0 $distance;

      &::after {
        content: '»';
        margin-left: $distance / 2;
      }
    }

    .post-title {
      font-size: $fh0;
      font-weight: $medium;
      line-height: $line-height;
      margin-left: 0;
      margin-top: $distance * 3;
      width: calc(66.66% - #{$distance * 3});

      @include mq(desktop) {
        padding-left: $distance * 1.5;
      }

      @include mq(mobile) {
        font-size: $fh1;
        margin-top: 0;
        padding-left: 0;
        position: relative;
        width: 100%;
      }
    }

    .post-excerpt {
      background-color: $white;
      right: 0;
      padding: $distance * 2;
      position: absolute;
      top: $distance * 3;
      width: 33.33%;
      z-index: 1;

      @include mq(desktop) {
        font-size: $fsmall;
      }

      @include mq(mobile) {
        font-size: $fdef;
        margin-top: $distance;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
      }

      &::after {
        content: '...';
        margin-left: $distance / 2;
      }
    }
  }
// -----------------------------------------------------------------------------


// Cover Image
// -----------------------------------------------------------------------------
  .main-header {
    height: calc(100vh - #{$header-height + $distance * 6});
    max-height: $post-heading-height - $distance * 8;
    min-height: 500px;
    position: static;
    width: 100%;
    z-index: -1;

    @include mq(mobile) {
      min-height: 66.66vh;
      width: calc(100% - #{$distance * 3});
    }
  }
// -----------------------------------------------------------------------------


// Share & footer
// -----------------------------------------------------------------------------
  .share {
    @include mq(mobile) {
      text-align: left;
    }
  }
// -----------------------------------------------------------------------------
}
