// =============================================================================
// THOUGHT POST STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.post-template.tag-portfolio:not(.page-template) {
  .main-info-p {
    margin-left: 0;
    min-height: 260px;
    padding: $distance * 2 0;
    position: relative;
    width: 100%;

    &::before {
      background-image: url('../img/dots-texture.png');
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }

    .post-date {
      background-color: $black;
      color: $white;
      font-size: $fsmall;
      line-height: $line-height;
      padding: 0 $distance;

      &::after {
        content: '»';
        margin-left: $distance / 2;
      }
    }

    .post-title {
      font-size: $fh0;
      font-weight: $medium;
      line-height: $line-height;
      margin-left: 0;
      width: calc(66.66% - #{$distance * 3});
    }

    .post-excerpt {
      background-color: $white;
      right: 0;
      padding: $distance * 2;
      position: absolute;
      top: $distance * 3;
      width: 33.33%;
      z-index: 1;

      &::after {
        content: '...';
        margin-left: $distance / 2;
      }
    }
  }
// -----------------------------------------------------------------------------


// Cover Image
// -----------------------------------------------------------------------------
  .main-header {
    height: calc(100vh - #{$header-height + $distance * 6});
    max-height: 760px;
    min-height: 500px;
    position: static;
    width: 100%;
    z-index: -1;
  }
// -----------------------------------------------------------------------------
}
