// =============================================================================
// THOUGHT POST STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.post-template.tag-portfolio:not(.page-template) {
  .post-heading {
    max-width: $site-box;
    padding-top: $distance * 3;
  }

  .main-date {
    @include inline-block;
    font-size: 3.75rem;
    font-weight: $bold;
    height: 50vh;
    line-height: 1em;
    min-height: 500px;
    position: relative;
    width: 33.33%;

    &::before {
      border-bottom: $distance solid $primary;
      border-right: $distance solid $primary;
      content: '';
      height: calc(100% - #{$distance * 4});
      left: 0;
      position: absolute;
      top: $distance * 3;
      width: calc(100% - #{$distance * 5});
    }

    &::after {
      background-color: $black;
      content: '';
      bottom: calc(3.75rem + #{$distance * 3});
      height: 1px;
      position: absolute;
      right: $distance * 6;
      transform: rotate(-45deg);
      width: 180px;
    }

    .mm,
    .yy {
      display: block;
      position: absolute;
    }

    .mm {
      bottom: calc(3.75rem + #{$distance * 4});
      right: $distance * 16;
    }

    .yy {
      bottom: $distance * 2;
      right: $distance * 8;
    }
  }

  .main-header {
    @include inline-block;
    animation: blured-out .999s ease-out forwards; // Blur out animation
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 500px;
    width: 66.66%;
  }

  .site-wrapper {
    margin: 0;
    max-width: 100vw;
    min-height: $post-height;
    padding: 0;
  }

  .content {
    animation: op-in .999s ease-out forwards; // Opacity In animation
    max-width: $site-box;
    padding-bottom: $distance * 5;
  }


// Thought Post style
// -----------------------------------------------------------------------------
  article {
    @extend %thought;
    margin-left: 0;

    .post-header {
      text-align: left;
    }
  }
// -----------------------------------------------------------------------------


// Post Footer
// -----------------------------------------------------------------------------
  .post-content + .post-footer {
    margin-top: $distance * 3;
  }

  .author,
  .share {
    @include inline-block;
    margin-top: $distance * 3;
    width: 50%;
  }

// Author ----------------------------------------------------------------------
  .author {
    .author-image {
      @extend %auth-image;
      @include inline-block;
    }

    .author-name {
      @extend %auth-name;
      @include inline-block;
    }
  }
// -----------------------------------------------------------------------------


// Share -----------------------------------------------------------------------
  .share {
    text-align: right;

    > span {
      font-size: $ftiny;
      font-weight: $light;
      line-height: $auth-image;
      margin-right: $distance;

      @include mq(mobile) {
        display: block;
        line-height: $auth-image / 2;
      }
    }

    > a[class*='icon-'] { // scss-lint:disable QualifyingElement
      @extend %social-icon;
      margin-top: #{($auth-image - $icon) / 2};

      @include mq(mobile) {
        margin-top: 0;
      }
    }
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------
