{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}no-cover{{/if}}"></header>

<aside class="tag-aside">
  {{#if tag.description}}
    <p class="page-description">{{tag.description}}</p>
  {{/if}}

  {{#if @blog.navigation}}
    <menu class="menu-box left">
      {{navigation}}
    </menu>
  {{/if}}
</aside>

{{! The main content area on the homepage }}
<main class="tag-content" role="main">

  {{! The tag below includes the post work - partials/work.hbs }}
  {{> "project"}}

</main>
