// =============================================================================
// MAIN THEME STYLES
// =============================================================================


// Import all Variables
// -----------------------------------------------------------------------------
@import 'variables/index';
// -----------------------------------------------------------------------------


// Import partials
// -----------------------------------------------------------------------------
@import 'partials/index';
// -----------------------------------------------------------------------------


// Import Sections
// -----------------------------------------------------------------------------
@import 'sections/author/index';
@import 'sections/contact/index';
@import 'sections/home/index';
@import 'sections/post/index';
@import 'sections/tag/index';
// -----------------------------------------------------------------------------
