// =============================================================================
// SITE GENERIC ANIMATIONS
// =============================================================================


// Site items fade-in
// -----------------------------------------------------------------------------
@keyframes item-in {
  from {
    opacity: 0;
    transform: translateY(#{$distance * 2});
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// -----------------------------------------------------------------------------



// Menu Zoom & Fade
// -----------------------------------------------------------------------------
// Menu open -------------------------------------------------------------------
@keyframes menu-in {
  from {
    opacity: 0;
    transform: scale(1.1) translateZ(#{$distance});
  }

  to {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}


// Menu close ------------------------------------------------------------------
@keyframes menu-out {
  from {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }

  to {
    opacity: 0;
    transform: scale(1.1) translateZ(#{$distance});
  }
}
// -----------------------------------------------------------------------------


// Opacity-in
// -----------------------------------------------------------------------------
@keyframes op-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// -----------------------------------------------------------------------------


// Header slide-in
// -----------------------------------------------------------------------------
@keyframes header-in {
  from {
    top: -$header-height;
  }

  to {
    top: 0;
  }
}


@keyframes menu-h-in {
  from {
    top: -$header-height;
  }

  to {
    top: ($header-height - $icon) / 2;
  }
}
// -----------------------------------------------------------------------------


// Blured out
// -----------------------------------------------------------------------------
@keyframes blured-out {
  from {
    -webkit-filter: blur(#{$distance / 2});
  }

  to {
    -webkit-filter: blur(0);
  }
}
// -----------------------------------------------------------------------------
