// =============================================================================
// SITE COLOR VARIABLES
// =============================================================================


// Main Palette
// -----------------------------------------------------------------------------
// Primary Color ---------------------------------------------------------------
$primary:                 rgb(49, 180, 232);
$primary-dark:            darken($primary, 10%);
$primary-light:           lighten($primary, 10%);

// Secondary Color -------------------------------------------------------------
$secondary:               rgb(255, 102, 102);
$secondary-dark:          darken($secondary, 10%);
$secondary-light:         lighten($secondary, 10%);

// Third Color -----------------------------------------------------------------
$third:                   rgb(86, 98, 181);
$third-dark:              darken($third, 10%);
$third-light:             lighten($third, 10%);
// -----------------------------------------------------------------------------


// Grayscale
// -----------------------------------------------------------------------------
$white:                   rgb(255, 255, 255);

$smoke:                   rgb(250, 250, 248);
$smoke-dark:              darken($smoke, 5%);

$gray:                    rgb(153, 166, 176);
$gray-dark:               darken($gray, 10%);

$stone:                   rgb(76, 86, 94);
$stone-light:             lighten($stone, 10%);
$stone-dark:              darken($stone, 10%);

$black:                   rgb(0, 0, 0);
$black-light:             lighten($black, 10%);
// -----------------------------------------------------------------------------


// Gradients
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
