// =============================================================================
// SITE FONTS
// =============================================================================


// Import Google Fonts
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700,400italic|Fira+Mono:400,700');
// -----------------------------------------------------------------------------


// Font stack variables
// -----------------------------------------------------------------------------
$primary-font:               'Fira Sans', sans-serif;
$secondary-font:             'Fira Mono';
// -----------------------------------------------------------------------------


// Font sizes
// -----------------------------------------------------------------------------
$font-size:                  20px;

$fh1:                        3rem;
$fh2:                        2rem;
$fh3:                        1.5rem;
$fh4:                        1.25rem;
$fh5:                        1rem;
$fh6:                        .85rem;

$fsmall:                     .85rem;
$ftiny:                      .7rem;
// -----------------------------------------------------------------------------


// Font weights
// -----------------------------------------------------------------------------
$light:                      300;
$regular:                    400;
$medium:                     500;
$bold:                       700;
// -----------------------------------------------------------------------------


// Line height
// -----------------------------------------------------------------------------
$line-height:                1.11em;
$line-height-big:            1.48em;
// -----------------------------------------------------------------------------
