// =============================================================================
// SITE SIZE VARIABLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
$border:                     3px;
$distance:                   10px;
$icon:                       32px;
$line:                       3px;
$logo:                       150px;
$z-top:                      10000;
$post-box:                   640px;
$site-box:                   1280px;
// -----------------------------------------------------------------------------


// Heights
// -----------------------------------------------------------------------------
$button-height:              60px;
$header-height:              80px;
$footer-height:              40px;
$section-height:             calc(100vh - #{$header-height + $distance * 1.5});
$contact-height:             calc(80vh - #{$header-height + $footer-height + $distance * 1.5});
$site-height:                calc(100vh - #{$header-height + $footer-height});
$post-height:                calc(100vh - #{$footer-height});
// -----------------------------------------------------------------------------


// Navigation Menu
// -----------------------------------------------------------------------------
$menu-height:                100vh;
$menu-width:                 100%; // removed viewport units to enable scrollbar
// -----------------------------------------------------------------------------


// Hero Section
// -----------------------------------------------------------------------------
$hero-min-height:            450px;
$hero-width:                 100%; // removed viewport units to enable scrollbar
$hero-logo:                  200px;
// -----------------------------------------------------------------------------

// Author
// -----------------------------------------------------------------------------
$auth-image:                 46px;
$auth-profile:               150px;
// -----------------------------------------------------------------------------


// Home page projects
// -----------------------------------------------------------------------------
$case-size:                  calc((100vw - #{$distance * 3}) / 3 - #{$distance});
$case-size-small:            calc((100vw - #{$distance * 3}) / 2 - #{$distance});
$m-case-size:                calc(100vw - #{$distance * 3});
// -----------------------------------------------------------------------------


// Tag page
// -----------------------------------------------------------------------------
$tag-head:                   20vh;
// -----------------------------------------------------------------------------
