@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700,400italic|Fira+Mono:400,700");
@keyframes item-in {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes menu-in {
  from {
    opacity: 0;
    transform: scale(1.1) translateZ(10px); }
  to {
    opacity: 1;
    transform: scale(1) translateZ(0); } }

@keyframes menu-out {
  from {
    opacity: 1;
    transform: scale(1) translateZ(0); }
  to {
    opacity: 0;
    transform: scale(1.1) translateZ(10px); } }

@keyframes op-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes header-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes menu-h-in {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0); } }

@keyframes blured-out {
  from {
    -webkit-filter: blur(5px); }
  to {
    -webkit-filter: blur(0); } }

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 20px; }

body {
  background-color: white;
  color: #223347;
  font-family: "Fira Sans", sans-serif;
  font-feature-settings: 'kern';
  font-kerning: normal;
  font-smooth: always;
  font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
  body.nav-opened {
    height: 100vh;
    overflow: hidden; }

.site-wrapper {
  max-width: 1280px;
  min-height: calc(100vh - 120px);
  padding-top: 30px;
  position: relative;
  width: 100%; }

.post-template:not(.page-template) .author .author-image {
  border-radius: 50%;
  font-size: 0;
  height: 46px;
  overflow: hidden;
  width: 46px; }
  .post-template:not(.page-template) .author .author-image > .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0;
    height: 100%;
    width: 100%; }
  .post-template:not(.page-template) .author .author-image + .author-name {
    margin-left: 10px; }

.post-template:not(.page-template) .author .author-name {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 23px; }
  .post-template:not(.page-template) .author .author-name > span {
    display: block;
    font-size: 0.7rem;
    font-weight: 300; }

.case-study {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  animation: blured-out .999s ease-out forwards;
  height: calc(50vw - 10px);
  margin-left: 15px;
  margin-top: 15px;
  max-height: 630px;
  max-width: 630px;
  position: relative;
  width: calc(50vw - 10px); }
  .case-study > a:hover,
  .case-study .post-title a {
    border: 0; }
  .case-study:hover {
    border: 6px solid white; }
    @media (max-width: 640px) {
      .case-study:hover {
        border: 0; } }
  @media (max-width: 640px) {
    .case-study {
      display: block;
      margin-right: auto;
      height: calc(100vw - 30px);
      margin-bottom: 10px;
      margin-left: auto;
      margin-top: auto;
      width: calc(100vw - 30px); } }
  .case-study:first-child {
    display: block;
    margin-right: auto;
    margin-left: 0; }
    @media (max-width: 640px) {
      .case-study:first-child {
        margin-left: auto; } }
  .case-study:nth-child(2) {
    margin-left: 0; }
    @media (max-width: 640px) {
      .case-study:nth-child(2) {
        margin-left: auto;
        margin-top: 15px; } }
  .case-study > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: all 75ms;
    width: 100%;
    z-index: 0; }
  .case-study > section {
    background-color: white;
    bottom: 10px;
    display: block;
    left: 10px;
    padding: 0 15px;
    position: absolute;
    z-index: 1; }
  .case-study span {
    font-size: 0.7rem; }

.button {
  border: 3px solid #223347;
  color: #223347;
  display: inline-block;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  transition: color 150ms ease-out, border-color 150ms ease-out; }
  .button:hover {
    border: 3px solid #f03246;
    color: #f03246; }

.site-footer {
  height: 40px;
  position: relative;
  width: 100%; }
  .site-footer a:hover {
    border: 0;
    color: #223347; }
  .site-footer .copyright {
    bottom: 0;
    color: #d3deea;
    font-size: 0.7rem;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 100%; }

.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 120px);
  max-height: 1066.66667px;
  min-height: 450px;
  position: relative; }
  .hero-section.no-cover {
    background-color: white; }
  .hero-section.hero-section:not(.no-cover) {
    animation: item-in .666s ease-out forwards; }

.main-header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%; }
  .main-header-content > * {
    animation: item-in .666s ease-out forwards; }
  .main-header-content > .page-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 40px;
    width: 200px; }
  .main-header-content > .page-description {
    font-weight: 400; }

.tag-head {
  height: 20vh;
  min-height: 120px;
  position: relative;
  width: 100%; }
  .tag-head.no-cover {
    height: 0;
    min-height: 0; }
  .tag-head > .page-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: item-in .666s ease-out forwards;
    font-weight: 400;
    line-height: 1.11em;
    text-align: center;
    width: 100%; }
    @media (max-width: 640px) {
      .tag-head > .page-description {
        font-size: 1rem; } }

.menu-box {
  animation: none !important;
  border: 6px solid #f03246;
  max-width: calc(33.33vw - 20px);
  padding: 15px;
  width: 300px;
  transition: border-color 250ms ease-out; }
  @media (max-width: 640px) {
    .menu-box {
      display: none; } }
  .menu-box.left {
    margin-left: 0;
    text-align: left; }
    .menu-box.left li:hover {
      color: #df1026;
      padding-left: 10px; }
  .menu-box.right {
    margin-right: 0;
    text-align: right; }
    .menu-box.right li:hover {
      color: #df1026;
      padding-right: 10px; }
  .menu-box li {
    color: #f03246;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.11em;
    list-style: none;
    transition: color 250ms ease-out, padding 150ms; }
    .menu-box li.nav-current {
      font-weight: 700; }
    .menu-box li > a:hover {
      border: 0; }

.icon-menu {
  animation: menu-h-in .333s ease-out forwards;
  appearance: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 32px;
  outline: 0;
  padding: 0 2.5px;
  position: absolute;
  right: calc(50% - 640px);
  transform: translateZ(11px);
  top: 24px;
  width: 37px;
  z-index: 10002; }
  @media (max-width: 1280px) {
    .icon-menu {
      right: 15px; } }
  .icon-menu > svg {
    display: block;
    height: 100%;
    width: 100%; }
  .icon-menu rect {
    display: block;
    fill: #223347;
    height: 3px;
    transform-origin: center;
    transition: fill 50ms ease-out, width 150ms ease-out, transform 150ms ease-out;
    width: 32px; }
    .icon-menu rect:nth-child(odd) {
      transform: translateY(10.5px);
      transition-delay: 50ms; }
    .icon-menu rect:nth-child(even) {
      transform: translateY(21px);
      transition-delay: 100ms; }
  .icon-menu:hover {
    border: 0 !important; }
  .icon-menu.nav-close {
    position: fixed; }

@keyframes cross-l {
  0% {
    transform: translateY(14.5px); }
  33% {
    transform: translateY(14.5px) rotate(-45deg); }
  100% {
    transform: translateY(14.5px) rotate(-45deg); } }

@keyframes cross-r {
  0% {
    transform: translateY(14.5px); }
  33% {
    transform: translateY(14.5px) rotate(45deg); }
  100% {
    transform: translateY(14.5px) rotate(45deg); } }
    .icon-menu.nav-close rect:nth-child(odd) {
      animation: cross-l .666s ease-out forwards; }
    .icon-menu.nav-close rect:nth-child(even) {
      animation: cross-r .666s ease-out forwards; }
  @media (max-width: 854px) {
    .icon-menu {
      animation: menu-h-in .333s ease-out forwards !important; }
      .icon-menu.nav-close rect {
        fill: #223347 !important; }
        .icon-menu.nav-close rect:nth-child(odd) {
          animation: cross-l .666s ease-out forwards !important; }
        .icon-menu.nav-close rect:nth-child(even) {
          animation: cross-r .666s ease-out forwards !important; } }

body > .nav {
  background-color: white;
  bottom: 0;
  color: #223347;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10001; }
  body > .nav.closed {
    animation: menu-out .333s ease-in forwards; }
  body > .nav > ul {
    display: block;
    left: 50%;
    list-style: none;
    max-width: 1280px;
    padding: 0 15px;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    @media (max-width: 1280px) {
      body > .nav > ul {
        padding: 0 30px; } }
  body > .nav .nav-title {
    color: #4b719d;
    font-size: 1.5rem;
    line-height: 1.48em;
    margin-bottom: 30px; }
  body > .nav li {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem; }
    @media (max-width: 640px) {
      body > .nav li {
        font-size: 20vw;
        line-height: 25vw; } }
  body > .nav a {
    transition: text-shadow 50ms; }
    body > .nav a:focus, body > .nav a:hover {
      border: 0;
      text-shadow: 4.5px 4.5px #f03246; }

.nav-opened > .nav {
  animation: menu-in .333s ease-out forwards;
  pointer-events: all; }

.main-nav {
  animation: header-in .333s ease-out forwards;
  border-bottom: 6px solid #223347;
  height: 80px;
  max-width: 1280px;
  padding: 0;
  width: 100%;
  z-index: 10000; }
  @media (max-width: 1280px) {
    .main-nav {
      padding: 0 15px; } }
  @media (max-width: 640px) {
    .main-nav {
      padding: 0;
      width: calc(100% - 30px); } }
  .main-nav .page-title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 60px;
    margin-top: 20px;
    width: auto; }
    .main-nav .page-title > a:hover {
      border: 0; }

.post-content p {
  font-size: 0.85rem; }
  .post-content p + p {
    margin-top: 20px; }
  .post-content p a {
    color: #6086b3; }
    .post-content p a:not(.button):hover {
      border: 0;
      color: #9ab2ce; }

.post-content ol,
.post-content ul {
  padding-left: 20px; }
  .post-content ol li,
  .post-content ul li {
    font-size: 0.85rem; }

.post-content .sidenote {
  display: table; }
  .post-content .sidenote > * {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
    width: 65%; }
    .post-content .sidenote > *:last-child {
      border-left: 4.5px solid #efefe9;
      font-size: 0.7rem;
      font-weight: 300;
      padding-left: 10px;
      padding-right: 0;
      width: 35%; }
  .post-content .sidenote > p + p {
    margin-top: 0; }

.post-content blockquote {
  border-left: 6px solid #efefe9;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.11em;
  margin: 20px auto;
  padding: 0 20px; }

.post-content code:not([class*='language-']) {
  background-color: #fafaf8;
  border: 1px solid #dadacb;
  border-radius: 3px;
  color: #63707a;
  font-size: 0.7rem;
  line-height: 1.48em;
  padding: 3.33333px 5px; }

.post-content img {
  max-width: 100%; }

.post-content hr {
  border: 0;
  border-top: 1px solid #efefe9;
  margin: 20px 0; }

code[class*='language-'],
pre[class*='language-'] {
  background-color: #fafaf8;
  color: #63707a;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.7rem;
  hyphens: none;
  line-height: 1.48em;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal; }

pre[class*='language-'] {
  border: 1px solid #dadacb;
  border-radius: 3px;
  margin: 20px auto;
  overflow: auto;
  padding: 10px; }

:not(pre) > code[class*='language-'] {
  border: 0;
  padding: 0; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #99a6b0; }

.token.punctuation {
  color: #63707a; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #df1026; }

.token.boolean {
  color: #df1026; }

.token.number,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ff6666; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #5662b5; }

.token.keyword,
.token.atrule,
.token.attr-value {
  color: #7983c5; }

.token.function,
.token.regex,
.token.important {
  color: #7c8d9a; }

.token.important,
.token.bold {
  font-weight: 700; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

::selection {
  background: #efefe9; }

.related-posts {
  margin-top: 30px;
  text-align: right;
  width: 100%; }
  @media (max-width: 640px) {
    .related-posts {
      margin-top: 10px;
      text-align: left; } }
  .related-posts > span {
    display: block;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 5px; }
  .related-posts > a {
    display: block;
    font-size: 0.85rem;
    line-height: 23px; }
    @media (max-width: 640px) {
      .related-posts > a {
        display: inline-block; }
        .related-posts > a::after {
          content: ', '; }
        .related-posts > a:last-child::after {
          content: ''; } }
    .related-posts > a:hover {
      border: 0;
      color: #334c69; }

.post-template:not(.page-template) .share > a[class*='icon-'] {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  height: 32px;
  transform-origin: center;
  transition: transform .1s ease-out;
  width: 32px; }
  .post-template:not(.page-template) .share > a[class*='icon-']:first-of-type {
    margin-left: 0; }
  .post-template:not(.page-template) .share > a[class*='icon-']:last-of-type {
    margin-right: 0; }
  .post-template:not(.page-template) .share > a[class*='icon-']:hover {
    border: 0;
    transform: scale(0.9); }
  .post-template:not(.page-template) .share > a[class='icon-twitter'][class*='icon-'] {
    background-image: url("../img/icon-twitter.svg"); }
  .post-template:not(.page-template) .share > a[class='icon-facebook'][class*='icon-'] {
    background-image: url("../img/icon-facebook.svg"); }
  .post-template:not(.page-template) .share > a[class='icon-googleplus'][class*='icon-'] {
    background-image: url("../img/icon-googleplus.svg"); }

.social-links {
  list-style: none; }
  .social-links > li {
    display: inline-block;
    font-size: 0;
    height: 64px;
    width: 64px; }
    @media (max-width: 640px) {
      .social-links > li {
        height: 40px;
        width: 40px; } }
    .social-links > li + li {
      margin-left: 10px; }
  .social-links a {
    display: block;
    font-size: 0;
    height: 100%;
    transform-origin: center;
    transition: transform .1s ease-out;
    width: 100%; }
    .social-links a:hover {
      border: 0;
      transform: scale(0.9); }

a[class='facebook'] {
  background-image: url("../img/icon-facebook.svg"); }

a[class='github'] {
  background-image: url("../img/icon-github.svg"); }

a[class='googleplus'] {
  background-image: url("../img/icon-googleplus.svg"); }

a[class='instagram'] {
  background-image: url("../img/icon-instagram.svg"); }

a[class='linkedin'] {
  background-image: url("../img/icon-linkedin.svg"); }

a[class='share'] {
  background-image: url("../img/icon-share.svg"); }

a[class='twitter'] {
  background-image: url("../img/icon-twitter.svg"); }

a[class='dribbble'] {
  background-image: url("../img/icon-dribbble.svg"); }

.about-content > .post, .post-template:not(.page-template) article, article.thought {
  max-width: 850px;
  padding: 30px 0;
  width: 100%; }
  .about-content > .post + .thought::before, .post-template:not(.page-template) article + .thought::before, article.thought + .thought::before {
    border-top: 3px solid #223347;
    content: '';
    display: block;
    margin: 10px auto 40px;
    width: 10%; }
  .about-content > .post:last-of-type, .post-template:not(.page-template) article:last-of-type, article.thought:last-of-type {
    margin-bottom: 100px; }
    @media (max-width: 640px) {
      .about-content > .post:last-of-type, .post-template:not(.page-template) article:last-of-type, article.thought:last-of-type {
        margin-bottom: 50px; } }
  .about-content > .post .post-header, .post-template:not(.page-template) article .post-header, article.thought .post-header {
    margin-bottom: 20px; }
  .about-content > .post .post-title, .post-template:not(.page-template) article .post-title, article.thought .post-title {
    line-height: 1.11em;
    margin-bottom: 5px; }
  .about-content > .post .post-date, .post-template:not(.page-template) article .post-date, article.thought .post-date {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.11em; }
  .about-content > .post .post-excerpt p, .post-template:not(.page-template) article .post-excerpt p, article.thought .post-excerpt p {
    font-size: 0.85rem; }
  .about-content > .post .post-excerpt span, .post-template:not(.page-template) article .post-excerpt span, article.thought .post-excerpt span {
    float: left;
    font-size: 0.7rem;
    margin: 10px 0; }
  .about-content > .post .post-excerpt [class*='tag-'], .post-template:not(.page-template) article .post-excerpt [class*='tag-'], article.thought .post-excerpt [class*='tag-'] {
    font-weight: 300; }
    .about-content > .post .post-excerpt [class*='tag-']::after, .post-template:not(.page-template) article .post-excerpt [class*='tag-']::after, article.thought .post-excerpt [class*='tag-']::after {
      content: ', '; }
    .about-content > .post .post-excerpt [class*='tag-']:last-of-type::after, .post-template:not(.page-template) article .post-excerpt [class*='tag-']:last-of-type::after, article.thought .post-excerpt [class*='tag-']:last-of-type::after {
      display: none; }
  .about-content > .post .post-excerpt .read-more, .post-template:not(.page-template) article .post-excerpt .read-more, article.thought .post-excerpt .read-more {
    float: right;
    font-size: 0.7rem;
    margin: 10px 0; }

span[tabindex='0'],
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  span[tabindex='0']:hover,
  a:hover {
    border-bottom: 2px dotted; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.85rem; }

.work-sample {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  position: relative; }
  @media (max-width: 854px) {
    .work-sample {
      margin-left: auto; } }
  .work-sample:nth-child(3n-2) {
    margin-left: 0; }
    @media (max-width: 854px) {
      .work-sample:nth-child(3n-2) {
        margin-left: auto; } }
  @media (max-width: 1280px) {
    .work-sample:nth-child(2n) {
      margin-left: 15px; } }
  @media (max-width: 854px) {
    .work-sample:nth-child(2n) {
      margin-left: auto; } }
  @media (max-width: 640px) {
    .work-sample:nth-child(2n) {
      margin-left: 15px; } }
  @media (max-width: 1280px) {
    .work-sample:nth-child(2n-1) {
      margin-left: 0; } }
  .work-sample > a > figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(50vw - 10px);
    max-height: 310px;
    max-width: 310px;
    width: calc(50vw - 10px); }
    @media (max-width: 1280px) {
      .work-sample > a > figure {
        max-height: calc(((100vw - 340px) / 2) - 10px);
        max-width: calc(((100vw - 340px) / 2) - 10px); } }
    @media (max-width: 854px) {
      .work-sample > a > figure {
        max-height: calc((100vw - 340px) - 10px);
        max-width: calc((100vw - 340px) - 10px); } }
    @media (max-width: 640px) {
      .work-sample > a > figure {
        height: calc((100vw - 30px) / 2 - 10px);
        max-height: none;
        max-width: none;
        width: calc((100vw - 30px) / 2 - 10px); } }
  .work-sample > a > section {
    background-color: white;
    display: block;
    margin-bottom: 10px;
    width: 100%; }
  .work-sample .post-title {
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    @media (max-width: 640px) {
      .work-sample .post-title {
        font-size: 0.7rem; } }

.about-content {
  padding-top: 30px;
  position: relative;
  text-align: center; }
  @media (max-width: 1280px) {
    .about-content {
      padding: 30px 15px 0; } }
  @media (max-width: 640px) {
    .about-content {
      padding: 0 15px; } }
  .about-content > .post {
    margin-left: 0;
    text-align: left;
    width: 66.66%; }
    @media (max-width: 640px) {
      .about-content > .post {
        width: 100%; } }
  .about-content .menu-box {
    position: absolute;
    right: 0;
    top: 50px; }
    .about-content .menu-box.fixed {
      position: fixed;
      right: calc(50% - 640px);
      top: 30px; }
      @media (max-width: 1280px) {
        .about-content .menu-box.fixed {
          right: 0; } }

.author-profile {
  padding-bottom: 30px;
  position: relative; }
  .author-profile .author-image {
    animation: blured-out .999s ease-out forwards;
    font-size: 0;
    height: 66.66vw;
    margin-left: 0;
    max-height: 850px;
    max-width: 850px;
    overflow: hidden;
    width: 66.66vw;
    z-index: -1; }
    @media (max-width: 854px) {
      .author-profile .author-image {
        margin-bottom: -15px;
        margin-left: 15px;
        z-index: 1; } }
    .author-profile .author-image > .img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      font-size: 0;
      height: 100%;
      width: 100%; }
  .author-profile .author-block {
    background-image: url("../img/dots-texture.png");
    bottom: 0;
    height: 33.33vw;
    margin-right: 0;
    max-width: 50%;
    max-height: 425px;
    padding-left: 16.66%;
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 1; }
    @media (max-width: 854px) {
      .author-profile .author-block {
        height: auto;
        max-height: none;
        max-width: none;
        padding: 30px 15px;
        position: relative;
        width: 100%;
        z-index: -1; } }
    .author-profile .author-block > section {
      background-color: white;
      bottom: 30px;
      padding: 20px;
      position: absolute;
      right: 0;
      width: calc(66.66% - 30px); }
      @media (max-width: 854px) {
        .author-profile .author-block > section {
          position: static;
          width: 100%; } }
      .author-profile .author-block > section span {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.11em; }
      .author-profile .author-block > section h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.11em; }
      .author-profile .author-block > section p {
        line-height: 1.48em;
        margin: 10px auto; }
      .author-profile .author-block > section a {
        color: #f03246;
        font-size: 0.85rem;
        line-height: 2.96em; }
        .author-profile .author-block > section a:hover {
          border-bottom: 1px dotted white; }
        .author-profile .author-block > section a::after {
          content: '»';
          margin-left: 10px; }

.post-template.tag-portfolio:not(.page-template) .main-info-p {
  margin-left: 0;
  min-height: 260px;
  padding: 20px 0;
  position: relative;
  width: 100%; }
  @media (max-width: 640px) {
    .post-template.tag-portfolio:not(.page-template) .main-info-p {
      height: auto;
      max-height: none;
      min-height: 0;
      padding: 15px;
      padding-bottom: 30px;
      width: 100%; } }
  .post-template.tag-portfolio:not(.page-template) .main-info-p::before {
    background-image: url("../img/dots-texture.png");
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; }
    @media (max-width: 640px) {
      .post-template.tag-portfolio:not(.page-template) .main-info-p::before {
        bottom: 0;
        height: 66.66%;
        left: 0;
        right: auto;
        top: auto;
        width: 100%; } }
  .post-template.tag-portfolio:not(.page-template) .main-info-p .post-date {
    background-color: #223347;
    color: white;
    font-size: 0.85rem;
    line-height: 1.11em;
    padding: 0 10px; }
    .post-template.tag-portfolio:not(.page-template) .main-info-p .post-date::after {
      content: '»';
      margin-left: 5px; }
  .post-template.tag-portfolio:not(.page-template) .main-info-p .post-title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.11em;
    margin-left: 0;
    margin-top: 30px;
    width: calc(66.66% - 30px); }
    @media (max-width: 1280px) {
      .post-template.tag-portfolio:not(.page-template) .main-info-p .post-title {
        padding-left: 15px; } }
    @media (max-width: 640px) {
      .post-template.tag-portfolio:not(.page-template) .main-info-p .post-title {
        font-size: 3rem;
        margin-top: 0;
        padding-left: 0;
        position: relative;
        width: 100%; } }
  .post-template.tag-portfolio:not(.page-template) .main-info-p .post-excerpt {
    background-color: white;
    right: 0;
    padding: 20px;
    position: absolute;
    top: 30px;
    width: 33.33%;
    z-index: 1; }
    @media (max-width: 1280px) {
      .post-template.tag-portfolio:not(.page-template) .main-info-p .post-excerpt {
        font-size: 0.85rem; } }
    @media (max-width: 640px) {
      .post-template.tag-portfolio:not(.page-template) .main-info-p .post-excerpt {
        font-size: 1rem;
        margin-top: 10px;
        position: relative;
        right: auto;
        top: auto;
        width: 100%; } }
    .post-template.tag-portfolio:not(.page-template) .main-info-p .post-excerpt::after {
      content: '...';
      margin-left: 5px; }

.post-template.tag-portfolio:not(.page-template) .main-header {
  height: calc(100vh - 140px);
  max-height: 640px;
  min-height: 500px;
  position: static;
  width: 100%;
  z-index: -1; }
  @media (max-width: 640px) {
    .post-template.tag-portfolio:not(.page-template) .main-header {
      min-height: 66.66vh;
      width: calc(100% - 30px); } }

@media (max-width: 640px) {
  .post-template.tag-portfolio:not(.page-template) .share {
    text-align: left; } }

.contact-head {
  height: 20vh;
  min-height: 150px;
  position: relative;
  width: 100%; }
  .contact-head > .page-logo {
    animation: item-in .666s ease-out forwards;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 30px auto;
    width: 150px; }

.contact-content {
  animation: op-in .999s ease-out forwards;
  min-height: calc(100vh - 20vh - 180px);
  padding: 15px 0; }
  @media (max-width: 640px) {
    .contact-content {
      padding-top: 0; } }
  .contact-content > article {
    max-width: 850px;
    padding: 30px 0;
    text-align: center;
    width: 100%; }
    @media (max-width: 640px) {
      .contact-content > article {
        padding: 10px 15px; } }
    .contact-content > article .button {
      color: inherit;
      margin: 20px auto; }
    .contact-content > article span {
      font-size: 0.85rem; }
  @media (max-width: 640px) {
    .contact-content .post-title {
      font-size: 2rem; } }
  .contact-content .social-links {
    margin-top: 10px;
    padding-left: 0; }

.home-content {
  animation: op-in .999s ease-out forwards;
  min-height: calc(100vh - 95px);
  position: relative;
  margin-top: calc(9rem + 30px); }
  @media (max-width: 640px) {
    .home-content {
      margin-top: calc(12rem + 30px); } }
  .home-content::before {
    background-image: url("../img/dots-texture.png");
    content: '';
    height: calc(15rem + 150px);
    left: 0;
    position: absolute;
    top: calc((9rem + 30px) * -1);
    width: 66.66%;
    z-index: -1; }
    @media (max-width: 640px) {
      .home-content::before {
        top: calc((12rem + 30px) * -1); } }

.home-cases + .home-posts {
  margin-top: 50px; }

.home-cases,
.home-posts {
  min-height: 50vh; }

.home-posts > .thought {
  width: 66.66%; }
  @media (max-width: 640px) {
    .home-posts > .thought {
      padding: 15px;
      width: 100%; } }

.menu-widget {
  padding: 20px 0;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 10000; }
  @media (max-width: 640px) {
    .menu-widget {
      padding: 0 15px;
      width: 66.66%; } }
  .menu-widget > .nav > ul {
    list-style: none;
    margin-right: 0;
    padding: 30px 15px 30px;
    text-align: center;
    width: 100%; }
    .menu-widget > .nav > ul li {
      font-size: 3.3rem;
      font-weight: 700;
      line-height: 1.11em;
      text-align: left;
      width: 66.66%; }
      @media (max-width: 854px) {
        .menu-widget > .nav > ul li {
          font-size: 3rem; } }
      @media (max-width: 640px) {
        .menu-widget > .nav > ul li {
          font-size: 2rem;
          width: 100%; } }
    .menu-widget > .nav > ul a {
      transition: text-shadow 50ms; }
      .menu-widget > .nav > ul a:hover {
        border: 0;
        text-shadow: 4.5px 4.5px #f03246; }

.post-template:not(.page-template) .post-heading {
  max-width: 1280px;
  overflow: hidden;
  margin-top: 30px;
  min-height: auto;
  position: relative; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .post-heading {
      margin-top: 15px; } }

.post-template:not(.page-template) .main-info {
  height: calc(100vh - 80px);
  margin-left: 0;
  max-height: 750px;
  min-height: 500px;
  position: relative;
  width: 66.66%; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .main-info {
      height: auto;
      max-height: none;
      min-height: 0;
      padding: 15px;
      padding-bottom: 30px;
      width: 100%; } }
  .post-template:not(.page-template) .main-info::before {
    background-image: url("../img/dots-texture.png");
    bottom: 0;
    content: '';
    height: 33.33%;
    left: 0;
    position: absolute;
    width: 100%; }
  .post-template:not(.page-template) .main-info .post-date {
    background-color: #223347;
    color: white;
    font-size: 0.85rem;
    line-height: 1.11em;
    padding: 0 10px; }
    .post-template:not(.page-template) .main-info .post-date::after {
      content: '»';
      margin-left: 5px; }
  .post-template:not(.page-template) .main-info .post-title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.11em;
    margin-top: 20px; }
    @media (max-width: 1280px) {
      .post-template:not(.page-template) .main-info .post-title {
        padding-left: 15px; } }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .main-info .post-title {
        font-size: 13vw;
        padding-left: 0;
        position: relative;
        z-index: 1; } }
  .post-template:not(.page-template) .main-info .post-excerpt {
    background-color: white;
    bottom: 60px;
    left: 30px;
    padding: 20px;
    position: absolute;
    width: 50%;
    z-index: 1; }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .main-info .post-excerpt {
        bottom: auto;
        left: auto;
        position: relative;
        width: 100%; } }
    .post-template:not(.page-template) .main-info .post-excerpt::after {
      content: '...';
      margin-left: 5px; }
  .post-template:not(.page-template) .main-info .post-cap {
    bottom: -8rem;
    color: #f03246;
    font-size: 0;
    font-weight: 300;
    line-height: 1em;
    position: absolute;
    transition: color 250ms ease-out; }
    .post-template:not(.page-template) .main-info .post-cap::first-letter {
      font-size: 41rem; }

.post-template:not(.page-template) .main-header {
  height: calc(100vh - 140px);
  max-height: 720px;
  min-height: 500px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: -1; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .main-header {
      height: 50vh;
      max-height: 50vh;
      min-height: 0;
      position: static;
      width: calc(100% - 30px); } }
  .post-template:not(.page-template) .main-header .post-cover {
    animation: blured-out .999s ease-out forwards;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 170px);
    max-height: 720px;
    min-height: 500px;
    width: 100%; }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .main-header .post-cover {
        height: 100%;
        max-height: 100%;
        min-height: 0; } }

.post-template:not(.page-template) .site-wrapper {
  min-height: calc(100vh - 40px);
  padding: 0; }

.post-template:not(.page-template) .content {
  animation: op-in .999s ease-out forwards;
  max-width: 1280px;
  min-height: 850px;
  padding-bottom: 50px;
  padding-top: 30px;
  position: relative; }
  @media (max-width: 1280px) {
    .post-template:not(.page-template) .content {
      padding: 30px 15px 50px; } }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .content {
      padding: 30px 0 50px; } }
  .post-template:not(.page-template) .content > aside {
    position: absolute;
    right: 0;
    top: 80px; }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .content > aside {
        position: static; } }
    .post-template:not(.page-template) .content > aside.fixed {
      position: fixed;
      right: calc(50% - 640px);
      top: 30px; }
      @media (max-width: 1280px) {
        .post-template:not(.page-template) .content > aside.fixed {
          right: 0; } }
      @media (max-width: 640px) {
        .post-template:not(.page-template) .content > aside.fixed {
          position: static; } }

.post-template:not(.page-template) article {
  margin-left: 0;
  text-align: left;
  width: 66.66%; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) article {
      padding: 0 15px;
      width: 100%; } }
  .post-template:not(.page-template) article .post-header {
    text-align: left; }
    .post-template:not(.page-template) article .post-header .post-date {
      background-color: #223347;
      color: white;
      font-size: 0.85rem;
      line-height: 1.11em;
      padding: 0 10px; }
      .post-template:not(.page-template) article .post-header .post-date::after {
        content: '»';
        margin-left: 5px; }
    .post-template:not(.page-template) article .post-header .post-title {
      font-size: 4rem;
      font-weight: 500; }

@media (max-width: 1280px) {
  .post-template:not(.page-template) .post-footer {
    padding: 0 15px; } }

.post-template:not(.page-template) .author,
.post-template:not(.page-template) .share {
  margin-top: 30px;
  width: 100%; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .author,
    .post-template:not(.page-template) .share {
      display: inline-block;
      margin-right: -5px;
      vertical-align: top;
      margin-top: 0;
      width: 50%; } }

.post-template:not(.page-template) .author {
  text-align: right; }
  @media (max-width: 640px) {
    .post-template:not(.page-template) .author {
      text-align: left; } }
  .post-template:not(.page-template) .author .author-image {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top; }
  .post-template:not(.page-template) .author .author-name {
    display: inline-block;
    vertical-align: middle;
    text-align: left; }

.post-template:not(.page-template) .share {
  text-align: right; }
  .post-template:not(.page-template) .share > span {
    display: block;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 46px;
    margin-right: 10px; }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .share > span {
        display: block;
        line-height: 23px; } }
  .post-template:not(.page-template) .share > a[class*='icon-'] {
    margin-top: 7px; }
    @media (max-width: 640px) {
      .post-template:not(.page-template) .share > a[class*='icon-'] {
        margin-top: 0; } }

.tag-aside {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  max-width: 320px;
  width: 25%; }
  @media (max-width: 1280px) {
    .tag-aside {
      min-width: 330px; } }
  @media (max-width: 640px) {
    .tag-aside {
      display: none; } }
  .tag-aside.fixed {
    position: fixed;
    top: 30px; }
  .tag-aside .page-description {
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 0; }
    @media (max-width: 1280px) {
      .tag-aside .page-description {
        padding-left: 15px; } }
  .tag-aside .menu-box {
    max-width: none; }

.tag-content {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
  animation: op-in .999s ease-out forwards;
  min-height: 0;
  width: 75%; }
  @media (max-width: 1280px) {
    .tag-content {
      max-width: calc(100% - 330px);
      padding-right: 15px; } }
  @media (max-width: 640px) {
    .tag-content {
      max-width: none;
      padding: 15px;
      padding-top: 0;
      width: 100%; } }
  .tag-content.fixed {
    margin-left: 25%; }
    @media (max-width: 1280px) {
      .tag-content.fixed {
        margin-left: 330px; } }
    @media (max-width: 640px) {
      .tag-content.fixed {
        margin-left: 0; } }
