// =============================================================================
// HOME PAGE CASE-STUDY BLOCK
// =============================================================================


// Case Study box
// -----------------------------------------------------------------------------
.case-study {
  @include inline-block;
  animation: blured-out .999s ease-out forwards; // Blur out animation
  height: $case-size;
  margin-left: $distance * 1.5;
  margin-top: $distance * 1.5;
  max-height: #{($site-box / 2) - $distance};
  max-width: #{($site-box / 2) - $distance};
  position: relative;
  width: $case-size;

  > a:hover,
  .post-title a {
    border: 0;
  }

  &:hover {
    border: $border * 2 solid $white;

    @include mq(mobile) {
      border: 0;
    }
  }

  @include mq(mobile) {
    @include block;
    height: $m-case-size;
    margin-bottom: $distance;
    margin-left: auto;
    margin-top: auto;
    width: $m-case-size;
  };

  &:first-child {
    @include block;
    margin-left: 0;
  }

  &:nth-child(2) {
    margin-left: 0;

    @include mq(mobile) {
      margin-left: auto;
      margin-top: $distance * 1.5;
    }
  }

  > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: all 75ms;
    width: 100%;
    z-index: 0;
  }

  > section {
    background-color: $white;
    bottom: $distance * 1;
    display: block;
    left: $distance * 1;
    padding: 0 $distance * 1.5;
    position: absolute;
    z-index: 1;
  }

  span {
    font-size: $ftiny;
  }
}
// -----------------------------------------------------------------------------
