// =============================================================================
// FOOTER STYLES
// =============================================================================


// Base Styles
// -----------------------------------------------------------------------------
.site-footer {
  background-color: $black;
  height: $footer-height;
  position: relative;
  width: 100%;


// Copyright
// -----------------------------------------------------------------------------
  .copyright {
    bottom: 0;
    color: lighten($black, 25%);
    font-size: $ftiny;
    line-height: $footer-height;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
// -----------------------------------------------------------------------------
