// =============================================================================
// FOOTER STYLES
// =============================================================================


// Base Styles
// -----------------------------------------------------------------------------
.site-footer {
  height: $footer-height;
  position: relative;
  width: 100%;

  a:hover {
    border: 0;
    color: $black;
  }


// Copyright
// -----------------------------------------------------------------------------
  .copyright {
    bottom: 0;
    color: lighten($black, 66.66%);
    font-size: $ftiny;
    line-height: $footer-height;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
// -----------------------------------------------------------------------------
