// =============================================================================
// GENERAL STYLES
// =============================================================================


// Layout
// -----------------------------------------------------------------------------
// General ---------------------------------------------------------------------
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
// -----------------------------------------------------------------------------


// HTML ------------------------------------------------------------------------
html {
  // background-color: $white;
  font-size: $font-size; // default rem size = $font-size
}
// -----------------------------------------------------------------------------


// Body properties -------------------------------------------------------------
body {
  background-color: $white;
  color: $black;
  // Font rendering
  font-family: $primary-font;
  font-feature-settings: 'kern';
  font-kerning: normal;
  font-smooth: always; // scss-lint:disable PropertySpelling
  font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-weight: $regular;
  text-rendering: optimizeLegibility;
  transform: translate3d(0, 0, 0);

  &.nav-opened {
    height: 100vh;
    overflow: hidden;
  }
}
// -----------------------------------------------------------------------------


// Site wrapper ----------------------------------------------------------------
.site-wrapper {
  max-width: $site-box;
  min-height: $site-height;
  padding-top: $distance * 3;
  position: relative;
  width: 100%;
}
// -----------------------------------------------------------------------------
