// =============================================================================
// HAMBURGER MENU ICON
// Animations on mobile should have Important rule to override the default ones.
// =============================================================================


// No Meat Hamburger Icon SVG
// -----------------------------------------------------------------------------
.icon-menu {
// General Styles --------------------------------------------------------------
  animation: menu-h-in .333s ease-out forwards; // Slide In animation
  appearance: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: $icon;
  outline: 0;
  padding: 0 $distance / 4;
  position: absolute;
  right: calc(50% - #{$site-box / 2});
  top: ($header-height - $icon) / 2;
  transform: translateZ(1px); // iOS z-index hack
  width: #{$icon + $distance / 2};
  z-index: $z-top + 2; // over the nav menu

  @include mq(desktop) {
    right: $distance * 1.5;
  }

  > svg {
    display: block;
    height: 100%;
    width: 100%;
  }

// Lines -----------------------------------------------------------------------
  rect {
    display: block;
    fill: $black;
    height: $line;
    transform-origin: center;
    transition: fill 50ms ease-out, width 150ms ease-out, transform 150ms ease-out;
    width: $icon;

    // Top line
    &:nth-child(odd) {
      transform: translateY(#{$line * 3.5});
      transition-delay: unquote('#{50}ms');
    }

    // Bottom line
    &:nth-child(even) {
      transform: translateY(#{$line * 7});
      transition-delay: unquote('#{100}ms');
    }
  }
// -----------------------------------------------------------------------------

// Set the hover
// -----------------------------------------------------------------------------
  &:hover {
    border: 0 !important;
  }

// Set the on-click state (replace the &:focus selector with the active class)
// -----------------------------------------------------------------------------
  &.nav-close rect {
// Animation -------------------------------------------------------------------
// scss-lint:disable NestingDepth
    @keyframes cross-l {
      0% {transform: translateY(#{($icon - $line) / 2});}
      33% {transform: translateY(#{($icon - $line) / 2}) rotate(-45deg);}
      100% {transform: translateY(#{($icon - $line) / 2}) rotate(-45deg);}
    }

    @keyframes cross-r {
      0% {transform: translateY(#{($icon - $line) / 2});}
      33% {transform: translateY(#{($icon - $line) / 2}) rotate(45deg);}
      100% {transform: translateY(#{($icon - $line) / 2}) rotate(45deg);}
    }

    &:nth-child(odd) {
      animation: cross-l .666s ease-out forwards;
    }

    &:nth-child(even) {
      animation: cross-r .666s ease-out forwards;
    }
// -----------------------------------------------------------------------------
  }


// Prevent hover on mobile -----------------------------------------------------
  @include mq(hybrid) {
    animation: menu-h-in .333s ease-out forwards !important; // Slide In animation

    &.nav-close rect {
      &:nth-child(odd) {animation: cross-l .666s ease-out forwards !important;}

      &:nth-child(even) {animation: cross-r .666s ease-out forwards !important;}
    }
  }
// -----------------------------------------------------------------------------
}
