// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
.nav {
  background-color: $black;
  border: $distance solid $white;
  bottom: 0;
  color: $white;
  height: $menu-height;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: $menu-width;
  z-index: $z-top + 1;


// If nav is closed
// -----------------------------------------------------------------------------
  &.closed {
    animation: menu-out .333s ease-in forwards;
  }
// -----------------------------------------------------------------------------


// Main content
// -----------------------------------------------------------------------------
  > ul {
    @include vertical-center;
    display: block;
    text-align: center;
    width: 100%;
  }


// Type & texts ----------------------------------------------------------------
  .nav-title {
    color: lighten($black, 25%);
    font-size: $fh3;
    line-height: $line-height-big;
    margin-bottom: $distance * 3;
  }

  li {
    font-size: $fh1;
    line-height: $line-height-big;
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------


// If nav is opened
// -----------------------------------------------------------------------------
.nav-opened .nav {
  animation: menu-in .333s ease-out forwards;
  pointer-events: all;
}
// -----------------------------------------------------------------------------
