// =============================================================================
// HAMBURGER MENU ICON
// Animations on mobile should have Important rule to override the default ones.
// =============================================================================


// No Meat Hamburger Icon SVG
// -----------------------------------------------------------------------------
.menu-box {
  animation: none!important;
  border: $line * 2 solid $primary;
  padding: $distance * 1.5;
  width: 300px;

  @include mq(mobile) {
    display: none;
  }

  &.left {
    margin-left: 0;
    text-align: left;
  }

  &.right {
    margin-right: 0;
    text-align: right;
  }

  li {
    color: $primary;
    font-size: $fh2;
    font-weight: $light;
    line-height: $line-height;
    list-style: none;
    transition: color 150ms;

    &:hover {
      color: $primary-dark;
    }

    &.nav-current {
      font-weight: $bold;
    }

    > a:hover {
      border: 0;
    }
  }
}
// -----------------------------------------------------------------------------
