// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
body > .nav {
  // background-color: $white;
  bottom: 0;
  color: $black;
  height: $menu-height;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: $menu-width;
  z-index: $z-top + 1;


// If nav is closed
// -----------------------------------------------------------------------------
  &.closed {
    animation: menu-out .333s ease-in forwards;
  }
// -----------------------------------------------------------------------------


// Main content
// -----------------------------------------------------------------------------
  > ul {
    display: block;
    left: 50%;
    list-style: none;
    max-width: $site-box;
    padding: 0 $distance * 1.5;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include mq(desktop) {
      padding: 0 $distance * 3;
    }
  }


// Type & texts ----------------------------------------------------------------
  .nav-title {
    color: lighten($black, 25%);
    font-size: $fh3;
    line-height: $line-height-big;
    margin-bottom: $distance * 3;
  }

  li {
    font-size: $fh0;
    font-weight: $bold;
    line-height: $fh0 * 1.25;

    @include mq(mobile) {
      font-size: 20vw;
      line-height: 20vw * 1.25;
    }
  }

  a {
    transition: text-shadow 50ms;

    &:hover {
      border: 0;
      text-shadow: $border * 1.5 $border * 1.5 $primary;
    }
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------


// If nav is opened
// -----------------------------------------------------------------------------
.nav-opened > .nav {
  animation: menu-in .333s ease-out forwards;
  pointer-events: all;
}
// -----------------------------------------------------------------------------
