// =============================================================================
// POST TYPE & TEXTS STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.post-content {
// Text
// -----------------------------------------------------------------------------
  p {
    font-size: $fsmall;

    + p {
      margin-top: $distance * 2;
    }

    a {
      color: $primary;

      // scss-lint:disable NestingDepth
      &:hover {
        color: $primary-light;
      }
    }
  }

  ol,
  ul {
    padding-left: $distance * 2;

    li {
      font-size: $fsmall;
    }
  }
// -----------------------------------------------------------------------------


// Multilingual or Side notes
// -----------------------------------------------------------------------------
  .sidenote {
    display: table;

    > * {
      display: table-cell;
      padding-right: $distance;
      vertical-align: top;
      width: 65%;

      &:last-child {
        border-left: $border * 1.5 solid $smoke-dark;
        font-size: $ftiny;
        font-weight: $light;
        padding-left: $distance;
        padding-right: 0;
        width: 35%;
      }
    }

    > p + p {
      margin-top: 0;
    }
  }
// -----------------------------------------------------------------------------


// Quotes
// -----------------------------------------------------------------------------
  blockquote {
    border-left: $border * 2 solid $smoke-dark;
    font-size: $fh4;
    font-weight: $light;
    line-height: $line-height;
    margin: $distance * 2 auto;
    padding: 0 $distance * 2;
  }
// -----------------------------------------------------------------------------


// Inline code
// -----------------------------------------------------------------------------
  code:not([class*='language-']) {
    background-color: $smoke;
    border: 1px solid darken($smoke-dark, 10%);
    border-radius: $border;
    color: $stone-light;
    font-size: $ftiny;
    line-height: $line-height-big;
    padding: $distance / 3 $distance / 2;
  }
// -----------------------------------------------------------------------------


// Images
// -----------------------------------------------------------------------------
  img {
    max-width: 100%;
  }
// -----------------------------------------------------------------------------


// Lines and separators
// -----------------------------------------------------------------------------
  hr {
    border: 0;
    border-top: 1px solid $smoke-dark;
    margin: $distance * 2 0;
  }
// -----------------------------------------------------------------------------
}
// -----------------------------------------------------------------------------
