// =============================================================================
// RELATED POSTS STYLES
// =============================================================================

// General
// -----------------------------------------------------------------------------
.related-posts {
  margin-top: $distance * 3;
  text-align: right;
  width: 100%;

  @include mq(mobile) {
    margin-top: $distance;
    text-align: left;
  }

  > span {
    display: block;
    font-size: $ftiny;
    font-weight: $light;
    line-height: $auth-image / 2;
    margin-bottom: $distance / 2;
  }

  > a {
    display: block;
    font-size: $fsmall;
    line-height: $auth-image / 2;

    @include mq(mobile) {
      display: inline-block;

      &::after {
        content: ', ';
      }

      &:last-child::after {
        content: '';
      }
    }

    &:hover{
      border: 0;
      color: $black-light;
    }
  }
}
// -----------------------------------------------------------------------------
