// =============================================================================
// TYPE & TEXTS STYLES
// =============================================================================


// General Reset
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// Links
// -----------------------------------------------------------------------------
span[tabindex='0'],// scss-lint:disable QualifyingElement
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 150ms ease-out;

  &:hover {color: $primary-dark;}
}
// -----------------------------------------------------------------------------


// Heading styles
// -----------------------------------------------------------------------------
h1 {font-size: $fh1;}

h2 {font-size: $fh2;}

h3 {font-size: $fh3;}

h4 {font-size: $fh4;}

h5 {font-size: $fh5;}

h6 {font-size: $fh6;}
// -----------------------------------------------------------------------------
